<h3>Add Author</h3>
<form asp-action="AddAuthor" method="post">
    <div>
        <label>Name:</label>
        <input type="text" name="Name" />
    </div>
    <div>
        <label>Biography:</label>
        <input type="text" name="Biography" />
    </div>
    <div>
        <label>Biography:</label>
        <input type="datetime" name="Date of Birth" />
    </div>
    <button type="submit">Add Author</button>
</form>