@model IEnumerable<LibraryManagementSystem.Models.Book>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Published Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Description</td>
                <td>@book.PublishDate</td>
            </tr>
        }
    </tbody>
</table>
