@model Author

<h2>Create Author</h2>
<form asp-action="AddAuthor" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

<div class="form-group">
    <label asp-for="ID" class="control-label"></label>
    <input asp-for="ID" class="form-control" />
    <span asp-validation-for="ID" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Biography" class="control-label"></label>
    <input asp-for="Biography" class="form-control" />
    <span asp-validation-for="Biography" class="text-danger"></span>
</div>

    <button  type="submit" class="btn btn-primary">Create</button>
</form>





